@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
}
body{
  font-family: "Montserrat", sans-serif;
  background-image: url(characters/ChiChi_DBS.webp);
  background-attachment: local; /*Cam7*/
  width:80vw; /*Cam16*/
  height:80vh; /*Cam16*/
}
.contenedor{
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 40px;
}
.card{
  width: 320px;
  background-color: #f2f2f2;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  border: solid 0.5px #cbc3c3;
  display: inline-block;
  object-fit:scale-down;/*Cam18*/
}
.card img{
  display: block;
  max-height: 280px;
  margin: 16px auto;
  filter: drop-shadow(2px 0px 8px #515151);
}
.card h2{
  margin-top: 2px;
  margin-bottom: 8px;
  color: #373737;
  text-align: center;
}
.card p{
  font-size: 16px;
  color: #515151;
  text-align: center;
}

.cam1{
  background: #f7a0a0;
}
.cam2{
  background: rgb(128, 136, 226);
}
.cam3{
  background: rgba(30, 50, 80, 0.5);
}
.cam4{
  background-image: url(characters/Marcarita.webp);
}
.cam5{
  background-image: url(characters/Android19.webp);
  background-position: center;
}
.cam6{
  background-image: url(characters/dodoria.webp);
  background-size: cover;
}
.cam8{
background: linear-gradient(45deg, #ff7e5f, #feb47b);
}
.cam9{
  background: radial-gradient(circle, #94e9a6, #c9a0f8);
}
.cam10{
  text-transform:uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px;
}
.cam11{
  font-family: "Bitcount Single Ink", system-ui;
}
.cam12{
  font-size:large ;
  font-style:italic ;
  font-weight:900 ;
}
.cam13{
  font-size: 2rem;
}
.cam14{
  margin: 2em;
  padding: 4em;
}
.cam15{
  margin: 20px;
  padding: 1em;
  border-radius: 0.5rem;
}
.cam17{
  max-width:min-content;
  height: auto;
}
